* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(159, 48, 223),
    rgb(238, 151, 100)
  );
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  background: black;
  color: #fff;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: rgb(0, 0, 0);
  background: #ffffffee;
  place-items: center;
}

.calculator span:active {
  background: black !important;
  color: whitesmoke !important;
}

.calculator span.equal {
  grid-column: span 2;
  width: 120px;
  color: #fff;
  background: rgb(240, 45, 175);
}
.calculator span.opt {
  color: #fff;
  background: rgb(153, 37, 199);
}
